/* Colores
#596D48
#E5E7EB


*/

@font-face {
  font-family: ODIN;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  background-color: #f9fafb;
}

.first-container {
  background-image: url(/img/odinProjectimg.jpg);
  width: 30%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.odin-logo {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 8.5rem;
}

.odin-logo > h1 {
  font-family: ODIN, sans-serif;
  color: white;
  font-size: 70px;
}

.odin-logo > img {
  width: 100px;
  height: 125px;
}

.credits-container {
  color: white;
  position: absolute;
  bottom: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  a {
    color: white;
  }
}

.second-container {
  width: 70%;
}

.phrase {
  color: black;
  height: 16.25rem;
  width: 100%;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 75px 100px 100px 50px;
  gap: 25px;
}

.phrase > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.first-phrase {
  width: 800px;
  text-align: left;
}

.content-form {
  background-color: #ffffff;
  height: 230px;
  padding: 15px 20px 15px 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  color: #1f2937;
}

.inputs {
  display: flex;
  gap: 4.5rem;
  margin-top: 10px;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex-direction: column;
}

legend {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
}

input {
  border: 2px solid #e5e7eb;
  padding: 5px;
  border-radius: 5px;
  width: 270px;
  margin-top: 0;
  outline: none;
}

input:invalid {
  border-color: red;
}

input:focus {
  border: 2px solid blue;
}

.submit {
  background-color: #596d48;
  color: white;
  padding: 14px 60px;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: 3px 3px 3px 0.5px rgba(0, 0, 0, 0.2);
}

.button-part {
  height: 30vh;
  padding: 30px 30px;

  p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
    font-size: 16px;
  }
}
